# SPDX-License-Identifier: GPL-3.0-only
#
# orbit-login - display manager for Bedrock Linux
# Copyright (C) 2025  Steven Ende
#

[Unit]
Description=orbit-login display manager
Documentation=man:orbitd(1)
After=systemd-user-sessions.service getty@tty1.service

[Service]
ExecStart=/usr/local/bin/orbitd --foreground
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=2
Type=simple

[Install]
Alias=display-manager.service
